html, body{
    height: 100%;
}

#map {
  width: 100%;
  height: 75%;
  margin: 5px;
  padding: 5px;
}

#histogram{
  width: 100%;
  height: 25%;
  margin: 5px;
  padding: 5px;
}

.datapoint svg {
  position: absolute;
}

.datapoint svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.datapoint circle {
  fill: #887ed7;
  stroke: #a59bd1;
  stroke-width: 1.5px;
}

.histogram rectangle{
  fill: #7fb5af;
  stroke: #7fb5af;
  stroke-width: 1.5px;
}
